<nav class="nav-menu">
    <div class="nav-brand">📐 Math &amp; Data</div>
    <ul class="nav-links">
        <li><a href="/">Quadratic Equation Solver</a></li>
        <li><a href="/ecuador-provinces">Ecuador Provinces &amp; Population</a></li>
    </ul>
</nav>
